# Dependencies
node_modules/
**/node_modules/

# Environment Variables (CRITICAL: Do not remove this)
.env
**/ .env

# Build and Temp folders
**/temp/
**/dist/
**/build/

# Logs and OS files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store